use flake .#dev

# Direnv doesn't natively support "on unload" hooks to kill background processes.
# But you can uncomment the lines below to have it start in the background.
# You will just have to remember to run `process-compose down` manually or let the OS reap it later.
# 
# if ! process-compose -f process-compose.yml -p 8080 attach &>/dev/null; then
#     process-compose -f process-compose.yml -p 8080 up -d
# fi
