{
    log default {
        level {$CADDY_LOG_LEVEL:INFO}
    }
}

(common) {
    php_fastcgi unix/{$PHP_SOCKET}
    file_server {
        browse
    }
    encode zstd gzip
}

(kirby) {
    @blocked {
        path public/content/* public/site/* public/kirby/* public/.*
    }
    error @blocked "Not found" 404
    handle_errors {
        rewrite * /error # This should reference your Kirby error page
        import common
    }
}

:{$CADDY_PORT} {
    import common
    import kirby

    log
    root * public
    encode gzip
}
